body {
    background-image: url('../img/rana-sawalha-364253-unsplash.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

@font-face {
    font-family: 'Verdana';
    src: url(../fonts/Verdana-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'Verdana';
    src: url(../fonts/Verdana.ttf);
    font-weight: normal;
}

/*Header*/
.header-content {
    background-color: rgba(0,0,0.5,0.5);
    padding-top: 17px;
    padding-bottom: 17px;
}

.header-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header-title{
    margin-left: 75px;
}

.header-title-link{
    text-decoration: none;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 20px;
    font-family: Verdana-Bold,AdobeInvisFont,Courier, sans-serif;
    text-transform: uppercase;
    line-height: 20px;
}

.header-title-link:hover{
    color:#3CB878
}

.header-icons-signin{
    margin-right: 75px;
}

.header-icons{
     display: inline-block;
     width: 20px;
     height: 20px;
     background-position: 0 0;
     margin-right: 28px;
 }

.header-welcome-text{
    padding-left: 38px;
    font-family: 'Verdana', sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: normal;
    line-height: 15px;
}

.header-welcome-text-link-login{
    text-decoration: none;
    color:#3CB878
}

.header-welcome-text-link-signup{
    text-decoration: none;
    color: #3CB878;
}

.icon-calendar{background-image: url("../img/01_ic_caledar_w.png");}

.icon-calendar:hover{background-image: url("../img/01_ic_caledar_g.png");}

.icon-message{background-image: url("../img/02_ic_forum_w.png");}

.icon-message:hover {background-image: url("../img/02_ic_forum_g.png");}

.icon-journey{background-image: url("../img/03_ic_journey_w.png");}

.icon-journey:hover{background-image: url("../img/03_ic_journey_g.png");}

/*SECTION*/
.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 54px);
}

.main-section{
    width: 444px;
    height: 584px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    border: none;
}
.window-container{
    margin-top: 25px;
    margin-bottom: 25px;
    width: 322px;
}

.login-window{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-family: 'Verdana', sans-serif;
    color: #434343;
    font-size: 20px;
    font-weight: normal;
    line-height: 21px;
    text-transform: capitalize;
    position: relative;
}

.signup-box-green {
    width: 18px;
    height: 18px;
    top: 2px;
    left: -61px;
    background-image: url("../img/journey_sprites.png");
    background-position: -194px 0;
    position: absolute;
}

.link-login{
    color: #3CB878;
    font-size: 14px;
}

.text-signup{
    color: #434343;
}


.section-login-window-SignIn-buttons-flex {
    display: flex;
    justify-content: space-between;
}

.btn {
    border-radius: 3px;
    width: 157px;
    height: 46px;
    border: none;
    font-family: 'Verdana', sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    line-height: 21px;
    text-align: left;
    vertical-align: middle;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0;
}

.btn-facebook {
    background-color: #305db8;
}

.btn-facebook-icon {
    display: inline-block;
    width: 10px;
    height: 20px;
    margin: 0 20px;
    background-image: url("../img/journey_sprites.png");
    background-position: -222px 0;
    vertical-align: middle;
}

.btn-facebook:hover {
    background-color: #264b96;
}

.btn-google {
    background-color: #df4a32;

}

.btn-google-icon {
    display: inline-block;
    width: 25px;
    height: 16px;
    margin-left: 10px;
    margin-right: 25px;
    background-image: url("../img/journey_sprites.png");
    background-position: -242px 0;
    vertical-align: middle;
}

.btn-google:hover {
    background-color: #c3412c;
}

.section-login-window-line {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: #eaeaea;
    margin-top: 33px;
    margin-bottom: 18px;
}

.section-login-window-line::before {
    content: "";
    flex-grow: 1;
    background: #eaeaea;
    height: 1px;
    font-size: 0;
    line-height: 0;
    margin-right: 17px;
}

.section-login-window-line::after {
    content: "";
    flex-grow: 1;
    background: #eaeaea;
    height: 1px;
    font-size: 0;
    line-height: 0;
    margin-left: 18px;
}

.section-login-window-line-text {
    font-family: 'Verdana', sans-serif;
    color: #848484;
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    flex-shrink: 0;
}

.login-input-field{
    width: 100%;
    height: 46px;
    border: 1px solid #ebebeb;
    font-family: 'Verdana', sans-serif;
    padding-left: 19px;
    margin-bottom: 9px;
    border-radius: 3px;
    background-color: #fff;
    color: #434343;
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    text-align: left;
    outline: none;
    box-sizing: border-box;
}

.checkbox-link-terms
{
color: #3CB878;
}

.btn-create-account {
    margin-top: 24px;
    width:  100%;
    background-color: #3aba78;
    text-align: center;
}

.btn-create-account:hover {
    background-color: #2f9b65;
}
